.color-box{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid lightgrey;
  margin: 10px;
}
.red{
  background-color: #be2c15;
}
.blue{
  background-color: #002cd7;
}
.tab{
  display: inline-block;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}
.active{
  border-bottom: 2px solid lawngreen;
  color: lawngreen;
}